body{
    background: #1f2937;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
button{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
} 

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.headerContenedor{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav{
    display: flex;

}

/* HEADER */

/* THIS WEBSITE IS AWESOME */

.contenedorOchenta{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}

.izquierda{
    width: 50%;
}

    
.derecha{
    width: 50%;
    height: 150px;
    background-color: grey;
    border-radius: 10px; 
}

/* SOME RANDOM INFORMATION */

.contenedorInformation{
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.information{
    margin-top: 80px;
}

/* CUADRADOS */

.cuadradoContenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding-bottom: 60px;
}

.parte{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cuadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.descripcion{
    color: black;
    text-align: center;
}

/* CITA DE THOR */

.citaContenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    color: black;
   padding-top: 50px;
   padding-bottom: 50px;
    
}
.cita{
    width: 50%;

}

.nombre{
    text-align: right;
}

/* PARTE FINAL */

.contenedorFinal{
    width: 100%;
    height: 320px;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.cuadroCallToAction{
    width: 85%;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.callToAction{
    margin-bottom: 1px;
}

.signUp{
    margin-top: 1px;
}

.buttonFinal{
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 2px solid white;
}

/* FOOTER */

.pFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}